// Inspired by https://theme-ui.com/presets/deep
$background-color:  hsl(230, 25%, 18%);
$error-color:       hsl(10, 80%, 50%);
$gray-color:        hsl(210, 50%, 60%);
$highlight-color:   hsl(260, 20%, 40%);
$muted-color:       hsla(230, 20%, 0%, 20%);
$primary-color:     hsl(260, 100%, 80%);
$purple-color:      hsl(290, 100%, 80%);
$secondary-color:   hsl(290, 100%, 80%);
$text-color:        hsl(210, 50%, 96%);