@use "sass:list";
@import "../styles/config";

.header {
  background-color: $primary-color;
  border-bottom: 1px solid;
  border-color: $primary-color;
  height: 60px;
  padding: 0 2em;
  width: 100vw;
}

.nav {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}
